html, body {
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
}

.image {
    transition: opacity 2s linear;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 0 10%;
    background-repeat: no-repeat;
    position: absolute;
    height: 100vh;
    width: 100%;
}

.image:nth-child(1) {
    background-image: url("./assets/1.jpg");
}

.image:nth-child(2) {
    background-image: url("./assets/2.jpg");
}

.image:nth-child(3) {
    background-image: url("./assets/3.jpg");
}

.image:nth-child(4) {
    background-image: url("./assets/4.jpg");
}

.image:nth-child(5) {
    background-image: url("./assets/5.jpg");
}

.content {
    transition: opacity 2s linear;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 1;
    color: white;
    display: flex;
    align-items: flex-end;
    padding: 0 10vh 0;
    justify-content: space-between;
    box-sizing: border-box;
}

@font-face {
    font-family: kek;
    src: url("assets/HelveticaNeueCyr-Roman.ttf") format('embedded-opentype'),
    url("assets/HelveticaNeueCyr-Roman.ttf") format('woff'),
    url("assets/HelveticaNeueCyr-Roman.ttf") format('truetype'),
    url("assets/HelveticaNeueCyr-Roman.ttf") format('svg'),
    url("assets/HelveticaNeueCyr-Roman.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}

h1, h2 {
    display: flex;
    align-items: baseline;
    height: 200px;
    font-family: kek;
    font-size: 40px;
    margin: 0;
    margin-left: -85px;
}
h1 img{
    height: 100%
}

img {
    height: 50px;
    width: auto;
}

a {
    height: 50px;
    width: auto;
}
a:hover{

    transition: all .2s linear;
    transform: scale(1.2);
    filter: invert(100%);
    opacity: 1;
}

.buttons {
    margin-bottom: 75px;
    display: flex;
    justify-content: space-around;
}

.buttons a:nth-child(2) {
    margin: 0 10px;
}

@media (max-device-width : 790px) {
    .image{
        height: 100%;
    }
    .image-wrap{
        position: relative;
        height: 50vh;
    }
    .image{

        /* background-size: contain; */
        background-size: cover;
        /* background-position: top; */
        background-position: center center;
    }
    #content{
        height: 50vh;
        padding: 0 ;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1 img{
        width: 100%;
        height: auto;
    }
    .content h1{
        margin: 0;
        width: 100vw;
        height: auto;
        font-size: 100px;
    }
    .buttons a:nth-child(2){
        margin: 0 100px;
    }

    .buttons a,img{
        min-height: 150px;
    }

}